<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs2063.runsmart">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/panda_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/panda_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="ui.history.HistoryFragment"/>
        <activity
            android:name=".LineLayerActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.history.HistoryDetailActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.articles.ArticlesFragment"
            android:label="RunSmart">
        </activity>
        <service
            android:name=".ForegroundService">
        </service>
    </application>

</manifest>